.static-width{
    width: 300px;
    height: 100px;
    background: url(http://gallifreybase.com/forum/images/smilies/doc01.png) no-repeat top center;
    background-color: grey;
    background-size: 200px;
}
